.skills-container{
  border: 3.5px solid #080707;
  margin-top: 20px;
  height: 90%;
  display: flex;
  flex-direction: column;

}

.skills-carsoel{
  border: 0.5px solid #080707;
 
};
.carosel{
  width: 30%;
  height:60&
}

.skills-info{
  border: 0.5px solid #080707;

}

.animateSlide{
  animation-duration: 3s;

}

@keyframes animate-slide {
  0%   {top: 0px; left: 0px; background: red;}
  25%  {top: 0px; left: 100px; background: blue;}
  50%  {top: 100px; left: 100px; background: yellow;}
  75%  {top: 100px; left: 0px; background: green;}
  100% {top: 0px; left: 0px; background: red;}
  
}