.skills-container{
  border: 3.5px solid #080707;
  margin-top: 20px;
  height: 90%;
  display: flex;
  flex-direction: column;

}

.skills-carsoel{
  border: 0.5px solid #080707;
 
};
.carosel{
  width: 30%;
  height:60&
}

.skills-info{
  border: 0.5px solid #080707;

}