.skills-section{ //holding the whole component
  border-radius: 25px;
  border: 2px solid #000000;
  width: 95vw;
  height: 60vh;
  margin: 2.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-between;
  padding: 30px;
  
}
.skills__header{
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;

}

.skills__container{
  grid-template-columns: repeat(2, 350px);
  column-gap: 8rem;
  justify-content: center;
  display: flex;
}

.skills__content{
  background-color: rgb(252, 252, 252);
  border: 1px solid rgb(4, 3, 3);
  padding: 2rem 4rem;
  border-radius: 1.25rem;
  // height: 400px;

}

.skills__title{
  font-size: 22px ;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: underline;

}

.skill__name{
  font-weight: 200;
  text-decoration: underline;
  line-height: 24px;
}
.skill__level{
font-size: 16px;
}

.skills__box{
  display: flex;
  justify-content: center;
  column-gap: 3rem;

}

.skills__group{
  display: grid;
  align-items: flex-start;
  row-gap: 0.5rem;



}

.skills__data{
  display: flex;
  column-gap: .5rem;
}

box-icon[name="badge-check"] {
  // font-size: 1rem;
}