/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu&family=Playfair+Display&display=swap');:root {
  --font-base: "Antic Didone";

  --primary-color: #B7C4CF;
  --secondary-color: #D7C0AE;
  --black-color: #030303; 
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: var(--font-base);

  /* background-color: var(--brown-color); */
}

img {
  max-width: 100%;
  height: auto;
}

button{
  cursor: pointer;
  border: none;
  outline: none;
}
.button {
  display: inline-block;
  background-color: #c8be92;
  color:rgb(4, 4, 4) ;
  padding: 0.75rem 1.25rem;
  border-radius: 1rem;
}
a{
  text-decoration: none;
}